@model User

<h1 class="text-success">Add a Message</h1>

<form method="post" action="/users/@Model.Id/messages">
	<label class="form-label" for="content">Message:</label>
	<textarea class="form-control" id="content" name="Content" rows="3"></textarea><br /><br />
	<button class="btn btn-success" type="submit">Create Message</button>
</form>