@model IEnumerable<User>

<h1 class="text-info">Users</h1>
<p>-----------------------------------</p>

@foreach(var user in Model)
{
	<div class="user-display">
		<h3 class="text-info">@user.Username</h3>
		<p>@user.Name</p>
		<form method="get" action="/users/@user.Id/details">
			<button class="btn btn-success" type="submit">Login</button>
		</form>
		<p>-----------------------------------</p>
	</div>
}

<form method="get" action="/users/new">
	<button class="btn btn-success" type="submit">New User</button>
</form>