<h1 class="text-info">New User</h1>

<form method="post" action="/users">
	<div class="form-group">
		<label class="form-label" for="name">Name:</label>
		<input class="form-control" type="text" id="name" name="Name" />
	</div>
	<div class="form-group">
		<label class="form-label" for="username">Username:</label>
		<input class="form-control" type="text" id="username" name="Username" />
	</div><br />
	<button class="btn btn-success" type="submit">Create User</button>
</form>