<h1>New User</h1>

<form method="post" action="/users">
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" id="name" name="Name" />
	</div>
	<div class="form-group">
		<label for="username">Username:</label>
		<input type="text" id="username" name="Username" />
	</div>
	<button type="submit">Create User</button>
</form>